<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1 class="title">
        Bienvenue dans mon {{title}} !!!
      </h1>
</div>
<div>
  <table id="kanban" class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>&nbsp;</th>
        <th>En attente</th>
        <th>En cours</th>
        <th>Terminé</th>
        <th>Livré</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span>Mafyou</span></td>
        <td id="startTask"><span class="task" draggable="true" id="task1">Task 1</span></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button class="btn" (click)="addTask()">Ajouter une tâche</button>
  <button class="btn" (click)="addPerson()">Ajouter une personne</button>
  <br />
  <i>Vous pouvez éditer le nom des tâches et les personnes assignées en double clickant dessus.</i>
</div>